@charset "utf-8";

#sam{
    color:#BABABA;
}

#atu{
    
    font-size:50px;
}

#s{
    color:blue;
}


table{
  border-collapse:separate;
  border-spacing: 5px;
  
}

table th,table td{
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th{
  background-color: #c79852;
  color: white;
  border:solid 1px #927141;
}

table td{
  background-color: #e4d4bc;
  border:solid 1px #af9d85;
}

#yuusyou{
    color:red;
}